#messages-component {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding-top: 2rem;
	background-color: #D3D0CB;	
  	background-color: #fff;
}

#messages-component #active-room-name {
	color: #00adb5;
	font-weight: 500;
	margin-bottom: 1.8rem;
}

#message-list {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	width: 70%;
	list-style-type: none;
	overflow-y: scroll;
}

#message-list p {
	margin-top: 0;
}

#message-list li {
	width: 80%;
	border-radius: 20px;
	padding: 10px;
    margin: 30px 0;
    color: #666963;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#message-list > li:nth-child(2n+2) {
	
}

#message-list .message-content {
	font-size: 1.8rem;
    font-weight: 500;
    padding: 1.5rem 0;
    line-height: 1.6;
    color: #393e46;
}

#message-list .username, #message-list .time-sent {
	font-size: 1.2rem;
	font-weight: normal;
	color: #888;
	text-align: left;
}

#message-list .ion-md-contact {
	margin-right: 4px;
}

#message-list .username {
	font-size: 1.4rem;
	font-weight: 500;
}

#message-list .time-sent {
	color: #888;
	text-align: right;
}


#send-message {
	width: 100%;
	padding: 2rem;
	margin: 1rem 0;
	z-index: 1;
}

#form-create-message {
	display: flex;
	justify-content: center;
}

#form-create-message label {
	flex-grow: 1;
}

#form-create-message  input {
	border: 2px solid #00adb5;
	border-radius: 5px;
}

#btn-send {
	background-color: #00adb5;
	color: #fff;
	border-radius: 5px;
	margin-left: 2px;
}

#btn-send i {
	font-size: 2rem;
}

