#messages-component {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding-top: 2rem;
	background-color: #D3D0CB;	
	/*height: 100vh;*/
}

#messages-component #active-room-name {
	font-size: 1.8rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

#message-list {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	width: 50%;
	list-style-type: none;
	overflow-y: scroll;
}

#message-list p {
	margin-top: 0;
}


#message-list li {
	/*align-self: flex-start;*/
	width: 80%;
	/*border: 1px solid #D3D0CB;*/
	background-color: #fff;
	border-radius: 5px;
	padding: 5px;
    margin-top: 30px;
    color: #666963;

    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 8px rgba(0,0,0,0.3);
	box-shadow: 0 1px 8px rgba(0,0,0,0.3);

    /*
    -webkit-box-shadow: 2px 2px 13px 3px rgba(219,215,219,1);
-moz-box-shadow: 2px 2px 13px 3px rgba(219,215,219,1);
box-shadow: 2px 2px 13px 3px rgba(219,215,219,1);*/
}

#message-list > li:nth-child(2n+2) {
	/*align-self: flex-end;
	color: #fff;
	margin-left: 40px;*/
}

#message-list .message-content {
	font-size: 1.4rem;
    font-weight: 400;
    padding: 1.5rem;
    line-height: 1.6;
}

#message-list .username, #message-list .time-sent {
	font-size: 1rem;
	font-weight: 700;
	color: #6E8898;
	text-align: left;
}

#message-list .time-sent {
	color: #888;
	text-align: right;
}


#send-message {
	width: 100%;
	padding: 2rem;
	margin: 1rem 0;
	z-index: 1;
}

#form-create-message {
	display: flex;
	justify-content: center;
}

#form-create-message label {
	flex-grow: 1;
}

#form-create-message  input {
	border: 2px solid #D3D0CB;
	border-radius: 5px;
}

#btn-send {
	background-color: #E2C044;
	color: #fff;
	border-radius: 5px;
	margin-left: 2px;
}