#user-auth {
	margin-right: 20px;
}

.btn-submit {
	padding: 10px 15px;
	border: none;
	border-radius: 0;
	color: #fff;
	margin-top: 20px;
}

#btn-signin {
	margin-right: 5px;
	background-color: coral;
}

#btn-signout {
	background-color: teal;
}