#user-auth {
}

#username {
	margin-top: 0;
	font-size: 1.4rem;
	text-align: center;
}



#btn-signin, #btn-signout {
	background-color: transparent;
	padding: 0 0.8rem;
	margin-top: 15px;
}


#btn-signin {
	margin-right: .5rem;
	color: #2E5266;
	border-radius: 0;
	border-right: 0.2px solid #A58C32;
}

#btn-signout {
	background-color: transparent;
}