.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  height: 90vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2rem;
  margin-bottom: 2px;
  background-color: #E2C044;
  color: #2E5266;
  border-top: 2px solid #2E5266;
}

#logo {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
}

aside.sidebar {
  background-color: #E3E1DD;
  border-right: 1px solid #DFDCD9;
  width: 25%;
  padding: 15px 2rem;
}

/**************************************************
  Media Queries
 **************************************************/
 

 @media (max-width: 1024px) {
  .content-wrapper {
    flex-wrap: wrap;
  }

  aside.sidebar {
    width: 100%;
  }

} 

