.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  height: 90vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2rem;
  background-color: #00adb5;
  color: #eee;
}

#logo {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  color: #222831;
}

aside.sidebar {
  background-color: #393e46;
  border-right: 1px solid #DFDCD9;
  width: 25%;
  padding: 15px 2rem;
}

/**************************************************
  Media Queries
 **************************************************/
 

 @media (max-width: 1024px) {
  .content-wrapper {
    flex-wrap: wrap;
  }

  aside.sidebar {
    width: 100%;
  }

} 

